
.submit-button{

  margin-left: 9.5in;
  background-color: #007bb5;
  color: white;
  height: 40px;
  width: 100px;
  border-radius: 20px;
  cursor: pointer;

}

.submit-button:hover{

  opacity: 0.6;

}

.fa {
padding: 20px;
font-size: 30px;
width: 50px;
text-align: center;
text-decoration: none;
margin: 5px 2px;
border-radius: 10px;
}

.fa:hover {
  opacity: 0.7;
}

.fa-facebook {
background: #3B5998;
color: white;
margin-left: 9in;
}

.fa-linkedin {
background: #007bb5;
color: white;
margin-left: 9in;
}

.fa-instagram {
background: #125688;
color: white;
margin-left: 9in;
}

.header{

font-family: Arial;
font-size: 30px;
font-weight: bold;
text-align: center;

}
.comment{

font-family: Arial;
font-size: 25px;  
text-align: center;

}

.paralign{

  text-align: center;

}

.textbox{

  margin-left: 9in;

}
